Deployment/Power App/StaffCheck-insAdmins/Microsoft.Flow/flows/95be9834-5098-4943-9c4e-4eff45729f89/definition.json
{"name":"d023a914-e873-4f3e-bac7-56a9e59a84bf","id":"/providers/Microsoft.Flow/flows/d023a914-e873-4f3e-bac7-56a9e59a84bf","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"StaffCheckinTeamReports","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"e5d51810-90a7-4d30-bc9e-cdd66bced4f1","type":"User","tenantId":"efb8be03-af30-4722-8b7b-e9edaa03cf98"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-07-06T21:55:36.1493718Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Condition_ObjectName":{"type":"any","description":"Choose a value","x-ms-powerflows-param-ispartial":false},"Getitems_FilterQuery":{"type":"string","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).. This parameter is used as part of \"9286ACB7-AFB1-499F-B3B5-08C062EC56B9\"","x-ms-powerflows-param-ispartial":true},"Getitems_FilterQuery_1":{"type":"string"}},"required":["Condition_ObjectName","Getitems_FilterQuery","Getitems_FilterQuery_1"]}}}},"actions":{"Get_items":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x699623.sharepoint.com/sites/SaffCheckinsFLW'))}/tables/@{encodeURIComponent(encodeURIComponent('UserCheck-ins'))}/items","queries":{"$filter":"(UniqueIdentifier eq '@{triggerBody()['Getitems_FilterQuery']}') and (Created ge '@{variables('FilterDate')}') and (UserCheckinSchedule eq '@{triggerBody()['Getitems_FilterQuery_1']}')","$orderby":"Created desc"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Select":{"runAfter":{"Get_items":["Succeeded"]},"type":"Select","inputs":{"from":"@body('Get_items')?['value']","select":{"ID":"@item()?['ID']","UserEmail":"@item()?['UserEmail']","UserGivenNotes":"@item()?['UserGivenNotes']","UserCheckinAddress":"@item()?['UserCheckinAddress']","UserCheckinTeam":"@item()?['UserCheckinTeam']","UserCheckinTitle":"@item()?['UserCheckinTitle']","UniqueIdentifier":"@item()?['UniqueIdentifier']","UserCheckinSchedule":"@item()?['UserCheckinSchedule']","Created":"@item()?['Created']","Modified":"@item()?['Modified']","UserCreatedDate":"@item()?['CreatedDate']","UserTitle":"@item()?['Title']","ChangedByEmail":"@item()?['Editor']?['Email']","UserName":"@item()?['UserName']","DisplayName":"@item()?['Author']?['DisplayName']"}}},"Parse_JSON":{"runAfter":{"Select":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Select')","schema":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"integer"},"UserEmail":{"type":"string"},"UserGivenNotes":{"type":["string","null"]},"UserCheckinAddress":{"type":["string","null"]},"UserCheckinTeam":{"type":"string"},"UserCheckinTitle":{"type":"string"},"UniqueIdentifier":{"type":"string"},"UserCheckinSchedule":{"type":"string"},"Created":{"type":"string"},"Modified":{"type":"string"},"UserCreatedDate":{"type":["string","null"]},"UserTitle":{"type":"string"},"ChangedByEmail":{"type":"string"},"UserName":{"type":["string","null"]},"DisplayName":{"type":"string"}},"required":["ID","UserEmail","UserGivenNotes","UserCheckinAddress","UserCheckinTeam","UserCheckinTitle","UniqueIdentifier","UserCheckinSchedule","Created","Modified","UserCreatedDate","UserTitle"]}}}},"Join":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Join","inputs":{"from":"@body('Parse_JSON')","joinWith":"\"/n\""}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Join":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"responsestaffcheckinteamreports":"@body('Join')"},"schema":{"type":"object","properties":{"responsestaffcheckinteamreports":{"title":"responseStaffCheckinTeamReports","x-ms-dynamically-added":true,"type":"string"}}}}},"Condition":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FilterDate","value":"@body('Subtract_from_time')"}}},"runAfter":{"Subtract_from_time_3":["Succeeded"]},"else":{"actions":{"Condition_2":{"actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FilterDate","value":"@body('Subtract_from_time_2')"}}},"runAfter":{},"else":{"actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FilterDate","value":"@body('Subtract_from_time_3')"}}}},"expression":{"equals":["@triggerBody()['Condition_ObjectName']","Last 7 days"]},"type":"If"}}},"expression":{"equals":["@triggerBody()['Condition_ObjectName']","Today"]},"type":"If"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"FilterDate","type":"string"}]}},"Subtract_from_time":{"runAfter":{"Convert_time_zone":["Succeeded"]},"type":"Expression","kind":"SubtractFromTime","inputs":{"baseTime":"@body('Convert_time_zone')","interval":2,"timeUnit":"Day"}},"Current_time":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Expression","kind":"CurrentTime","inputs":{}},"Subtract_from_time_2":{"runAfter":{"Subtract_from_time":["Succeeded"]},"type":"Expression","kind":"SubtractFromTime","inputs":{"baseTime":"@body('Convert_time_zone')","interval":7,"timeUnit":"Day"}},"Subtract_from_time_3":{"runAfter":{"Subtract_from_time_2":["Succeeded"]},"type":"Expression","kind":"SubtractFromTime","inputs":{"baseTime":"@body('Convert_time_zone')","interval":30,"timeUnit":"Day"}},"Convert_time_zone":{"runAfter":{"Current_time":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"d","sourceTimeZone":"UTC","destinationTimeZone":"India Standard Time"}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"3650f1090dc94f108d90d07e1491bb58","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}