Deployment/Power App/StaffCheck-insAdmins/Microsoft.Flow/flows/17b1c873-ff76-45d7-a289-764e31c04196/definition.json
{"name":"e9b3ca16-9517-44c7-818c-11eb690106b3","id":"/providers/Microsoft.Flow/flows/e9b3ca16-9517-44c7-818c-11eb690106b3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"StaffCheckinReports","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"e5d51810-90a7-4d30-bc9e-cdd66bced4f1","type":"User","tenantId":"efb8be03-af30-4722-8b7b-e9edaa03cf98"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-06-26T22:15:52.1604841Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x699623.sharepoint.com/sites/SaffCheckinsFLW'))}/tables/@{encodeURIComponent(encodeURIComponent('UserCheck-ins'))}/items","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Select":{"runAfter":{"Get_items":["Succeeded"]},"type":"Select","inputs":{"from":"@body('Get_items')?['value']","select":{"ID":"@item()?['ID']","UserEmail":"@item()?['UserEmail']","UserGivenNotes":"@item()?['UserGivenNotes']","UserCheckinAddress":"@item()?['UserCheckinAddress']","UserCheckinTeam":"@item()?['UserCheckinTeam']","UserCheckinTitle":"@item()?['UserCheckinTitle']","UniqueIdentifier":"@item()?['UniqueIdentifier']","UserCheckinSchedule":"@item()?['UserCheckinSchedule']","Created":"@item()?['Created']","Modified":"@item()?['Modified']","UserCreatedDate":"@item()?['CreatedDate']","UserTitle":"@item()?['Title']","UserName":"@item()?['UserName']","DisplayName":"@item()?['Author']?['DisplayName']"}}},"Parse_JSON":{"runAfter":{"Select":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Select')","schema":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"integer"},"UserEmail":{"type":"string"},"UserGivenNotes":{"type":["string","null"]},"UserCheckinAddress":{"type":["string","null"]},"UserCheckinTeam":{"type":"string"},"UserCheckinTitle":{"type":"string"},"UniqueIdentifier":{"type":"string"},"UserCheckinSchedule":{"type":"string"},"Created":{"type":"string"},"Modified":{"type":"string"},"UserCreatedDate":{"type":["string","null"]},"UserTitle":{"type":"string"},"UserName":{"type":["string","null"]},"DisplayName":{"type":"string"}},"required":["ID","UserEmail","UserGivenNotes","UserCheckinAddress","UserCheckinTeam","UserCheckinTitle","UniqueIdentifier","UserCheckinSchedule","Created","Modified","UserCreatedDate","UserTitle"]}}}},"Join":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Join","inputs":{"from":"@body('Parse_JSON')","joinWith":"\"/n\""}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Join":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"responsestaffcheckinreports":"@body('Join')"},"schema":{"type":"object","properties":{"responsestaffcheckinreports":{"title":"responseStaffCheckinReports","x-ms-dynamically-added":true,"type":"string"}}}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"3650f1090dc94f108d90d07e1491bb58","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}