Deployment/Power App/StaffCheck-insAdmins/Microsoft.Flow/flows/ea5091bb-b16c-4f3a-9b1e-96d01d6a3b0f/definition.json
{"name":"9c501327-fbc0-4c06-8656-180be3700b7a","id":"/providers/Microsoft.Flow/flows/9c501327-fbc0-4c06-8656-180be3700b7a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"CheckinUsersReportExport","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"e5d51810-90a7-4d30-bc9e-cdd66bced4f1","type":"User","tenantId":"efb8be03-af30-4722-8b7b-e9edaa03cf98"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-07-16T23:50:41.5037346Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getitems_FilterQuery":{"type":"string","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).. This parameter is used as part of \"11AF933F-C9EC-4D9A-8BB9-416780D6B6F6\"","x-ms-powerflows-param-ispartial":true},"Getitems_FilterQuery_1":{"type":"string"},"Getitems_FilterQuery_2":{"type":"string"}},"required":["Getitems_FilterQuery","Getitems_FilterQuery_1","Getitems_FilterQuery_2"]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x699623.sharepoint.com/sites/SaffCheckinsFLW'))}/tables/@{encodeURIComponent(encodeURIComponent('UserCheck-ins'))}/items","queries":{"$filter":"UniqueIdentifier eq '@{triggerBody()['Getitems_FilterQuery']}' and Created ge '@{triggerBody()['Getitems_FilterQuery_1']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_CSV_table":{"runAfter":{"Get_items":["Succeeded"]},"type":"Table","inputs":{"from":"@body('Get_items')?['value']","format":"CSV","columns":[{"header":"UserName","value":"@item()?['UserEmail']"},{"header":"TeamName","value":"@item()?['UserCheckinTeam']"},{"header":"Title","value":"@item()?['UserCheckinTitle']"},{"header":"Type","value":"@item()?['UserCheckinSchedule']"},{"header":"Address","value":"@item()?['UserCheckinAddress']"},{"header":"Date","value":"@convertFromUtc(item()?['Created'],'Pacific Standard Time','MM/dd/yyyy hh:mm:ss tt')"},{"header":"Note","value":"@item()?['UserGivenNotes']"}]}},"Compose":{"runAfter":{"Create_CSV_table":["Succeeded"]},"type":"Compose","inputs":"@utcNow()"},"Create_file":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_onedriveforbusiness']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/onedriveforbusiness"}},"method":"post","body":"@body('Create_CSV_table')","path":"/datasets/default/files","queries":{"folderPath":"/","name":"Export@{outputs('Compose')}.csv"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"3650f1090dc94f108d90d07e1491bb58","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"c54031f24f3643fbb3d33cd38c5cf86e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}