Deployment/Create SharePoint Lists/CreateSharePointListsStaffCheck-ins/Microsoft.Flow/flows/d6b15229-d653-4e97-a5a8-9a80c0e8713f/definition.json
{"name":"75dc5937-1f10-4e80-be59-2b19a61d03f9","id":"/providers/Microsoft.Flow/flows/75dc5937-1f10-4e80-be59-2b19a61d03f9","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"CreateSharePointListsStaffCheck-ins","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"e5d51810-90a7-4d30-bc9e-cdd66bced4f1","type":"User","tenantId":"efb8be03-af30-4722-8b7b-e9edaa03cf98"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-06-26T22:30:55.2237064Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"TeamSharepointUrl","type":"string","x-ms-dynamically-added":true,"description":"Please Enter Sharepoint URL corresponding to your Team","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Single_Line_of_text_Fields_Array":{"runAfter":{"List_of_Sharepoint_Sites":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Single Line of text Fields Array","type":"array"}]}},"List_of_Sharepoint_Sites":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"List of Sharepoint Sites","type":"array","value":["@{string(triggerBody()['text'])}"]}]}},"For_all_sharepoint_sites":{"foreach":"@variables('List of Sharepoint Sites')","actions":{"Create_Check-in_Schedule_List":{"actions":{"Send_Https_request_to_create_Check-in_Schedule_list":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"/_api/web/lists","headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"body":"{\n  \"__metadata\": {\"type\": \"SP.List\"},\n  \"AllowContentTypes\": true,\n  \"BaseTemplate\": 100,\n \"Description\": \"List of Schedules\",\n \"Title\": \"Check-inSchedule\"\n}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_variable":{"runAfter":{"Send_Https_request_to_create_Check-in_Schedule_list":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Single Line of text Fields Array","value":["ManagerEmail","CheckInTitle","CheckinTeamName","UniqueIdentifier","CheckinTime","TeamId","ChannelId","CheckinDaysConcat","CombinedIdentifier"]}},"Apply_to_each":{"foreach":"@variables('Single Line of text Fields Array')","actions":{"Send_an_HTTP_request_to_SharePoint":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/lists/getbytitle('Check-inSchedule')/fields","headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"body":"{\n    '__metadata': {'type':'SP.FieldText','addToDefaultView': 'true'},\n    'FieldTypeKind': 2,\n    'Title': '@{items('Apply_to_each')}'\n}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_an_HTTP_request_to_SharePoint_2":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/web/lists/GetByTitle('Check-inSchedule')/views/getbytitle('All Items')/ViewFields/AddViewField('@{items('Apply_to_each')}')","headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Set_variable":["Succeeded"]},"type":"Foreach"},"Send_an_HTTP_request_to_Create_ManagerNote_column":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/lists/getbytitle('Check-inSchedule')/fields","headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"body":"{\n    '__metadata': {'type':'SP.FieldDateTime','addToDefaultView': 'true'},\n    'FieldTypeKind': 3,\n    'Title': 'ManagerNote'\n}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_an_HTTP_request_to_Add_ManagerNote_to_view":{"runAfter":{"Send_an_HTTP_request_to_Create_ManagerNote_column":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/web/lists/GetByTitle('Check-inSchedule')/views/getbytitle('All Items')/ViewFields/AddViewField('ManagerNote')","headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_an_HTTP_request_to_create_CheckInType_Choice":{"runAfter":{"Send_an_HTTP_request_to_Add_ManagerNote_to_view":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/lists/getbytitle('Check-inSchedule')/fields","headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"body":"{ '__metadata':\n    { 'type': 'SP.FieldChoice'},\n    'Title': 'CheckInType',\n    'FieldTypeKind': 6,\n    'Choices': { 'results': ['Scheduled', 'Ad-hoc' ] }\n}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_CheckInType_to_view":{"runAfter":{"Send_an_HTTP_request_to_create_CheckInType_Choice":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/web/lists/GetByTitle('Check-inSchedule')/views/getbytitle('All Items')/ViewFields/AddViewField('CheckInType')","headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_an_HTTP_request_to_Create_CheckinFrequency":{"runAfter":{"Add_CheckInType_to_view":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/lists/getbytitle('Check-inSchedule')/fields","headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"body":"{ '__metadata':\n    { 'type': 'SP.FieldChoice'},\n    'Title': 'CheckinFrequency',\n    'FieldTypeKind': 6,\n    'Choices': { 'results': ['Daily', 'Weekly' ] }\n}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_an_HTTP_request_to_add_CheckinFrequency_to_view":{"runAfter":{"Send_an_HTTP_request_to_Create_CheckinFrequency":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/web/lists/GetByTitle('Check-inSchedule')/views/getbytitle('All Items')/ViewFields/AddViewField('CheckinFrequency')","headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_an_HTTP_request_to_create_CheckinDays":{"runAfter":{"Send_an_HTTP_request_to_add_CheckinFrequency_to_view":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/lists/getbytitle('Check-inSchedule')/fields","headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"body":"{ '__metadata':\n    { 'type': 'SP.FieldChoice'},\n    'Title': 'CheckinDays',\n    'FieldTypeKind': 15,\n    'Choices': { 'results': ['Sunday', 'Monday','Tuesday','Wednesday','Thursday','Friday','Saturday' ] }\n}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_an_HTTP_request_to_add_CheckinDays_to_View":{"runAfter":{"Send_an_HTTP_request_to_create_CheckinDays":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/web/lists/GetByTitle('Check-inSchedule')/views/getbytitle('All Items')/ViewFields/AddViewField('CheckinDays')","headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Create_UserCheck-ins_List":{"actions":{"Http_request_to_create_UserCheckin_List":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"/_api/web/lists","headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"body":"{\n  \"__metadata\": {\"type\": \"SP.List\"},\n  \"AllowContentTypes\": true,\n  \"BaseTemplate\": 100,\n \"Description\": \"User Check-ins Data\",\n \"Title\": \"UserCheck-ins\"\n}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_Single_Line_of_Text_Array":{"runAfter":{"Http_request_to_create_UserCheckin_List":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Single Line of text Fields Array","value":["UserEmail","UserGivenNotes","UserLatitude","UserLongitude","UserCheckinAddress","UserCheckinTeam","UserCheckinTitle","UniqueIdentifier","UserCheckinSchedule","UserName","CreatedDate"]}},"For_all_Single_line_of_text_fields":{"foreach":"@variables('Single Line of text Fields Array')","actions":{"Request_to_create_single_line_of_texts":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/lists/getbytitle('UserCheck-ins')/fields","headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"body":"{\n    '__metadata': {'type':'SP.FieldText','addToDefaultView': 'true'},\n    'FieldTypeKind': 2,\n    'Title': '@{items('For_all_Single_line_of_text_fields')}'\n}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_text_fields_to_view":{"runAfter":{"Request_to_create_single_line_of_texts":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/web/lists/GetByTitle('UserCheck-ins')/views/getbytitle('All Items')/ViewFields/AddViewField('@{items('For_all_Single_line_of_text_fields')}')","headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Set_Single_Line_of_Text_Array":["Succeeded"]},"type":"Foreach"},"Send_an_HTTP_request_to_SharePoint_3":{"runAfter":{"For_all_Single_line_of_text_fields":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/lists/getbytitle('UserCheck-ins')/fields","headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"body":"{\n    '__metadata': {'type':'SP.FieldDateTime','addToDefaultView': 'true'},\n    'FieldTypeKind': 3,\n    'Title': 'UserCheckinPicture'\n}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_an_HTTP_request_to_SharePoint_4":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_3":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/web/lists/GetByTitle('UserCheck-ins')/views/getbytitle('All Items')/ViewFields/AddViewField('UserCheckinPicture')"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(items('For_all_sharepoint_sites')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Create_Check-in_Schedule_List":["Succeeded"]},"type":"Scope"}},"runAfter":{"Single_Line_of_text_Fields_Array":["Succeeded"]},"type":"Foreach"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline_2":{"connectionName":"3650f1090dc94f108d90d07e1491bb58","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}