Deployment/Flows/StaffCheck-insSchedulesAdaptiveCard/Microsoft.Flow/flows/d51a5757-1e4d-495b-ac10-9c5a5ed668e5/definition.json
{"name":"7e990bc0-2364-4e57-a9bb-e8f19ef7529b","id":"/providers/Microsoft.Flow/flows/7e990bc0-2364-4e57-a9bb-e8f19ef7529b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Staff Check-ins  Schedules Adaptive Card","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"e5d51810-90a7-4d30-bc9e-cdd66bced4f1","type":"User","tenantId":"efb8be03-af30-4722-8b7b-e9edaa03cf98"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-06-26T22:28:14.2326439Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Hour","interval":1,"timeZone":"Pacific Standard Time","startTime":"2020-06-13T17:00:00.000Z"},"type":"Recurrence"}},"actions":{"Get_items":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x699623.sharepoint.com/sites/SaffCheckinsFLW'))}/tables/@{encodeURIComponent(encodeURIComponent('Check-inSchedule'))}/items","queries":{"$filter":"substringof('@{body('Convert_time_zone')}',CheckinDaysConcat) or CheckinFrequency eq 'Daily'"},"authentication":"@parameters('$authentication')"}},"Current_time":{"runAfter":{},"type":"Expression","kind":"CurrentTime","inputs":{}},"Convert_time_zone":{"runAfter":{"Convert_time_zone_3":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"dddddd","sourceTimeZone":"UTC","destinationTimeZone":"Pacific Standard Time"}},"Convert_time_zone_2":{"runAfter":{"Convert_time_zone":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"HH:mm","sourceTimeZone":"UTC","destinationTimeZone":"Pacific Standard Time"}},"Initialize_variable":{"runAfter":{"Convert_time_zone_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Occurrence","type":"string"}]}},"Apply_to_each_2":{"foreach":"@body('Get_items')?['value']","actions":{"Condition":{"actions":{"Condition_2":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Occurrence","value":"Daily"}}},"runAfter":{},"else":{"actions":{"Apply_to_each":{"foreach":"@items('Apply_to_each_2')['CheckinDays']","actions":{"Append_to_string_variable":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"Occurrence","value":"@{items('Apply_to_each')?['Value']}."}}},"runAfter":{},"type":"Foreach"}}},"expression":{"equals":["@items('Apply_to_each_2')?['CheckinFrequency']?['Value']","Daily"]},"type":"If"},"Post_your_own_adaptive_card_as_the_Flow_bot_to_a_channel":{"runAfter":{"Condition_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostChannelAdaptiveCard"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":{"channelId":"@items('Apply_to_each_2')?['ChannelId']"},"messageBody":"{\n\"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n\"type\": \"AdaptiveCard\",\n\"version\": \"1.0\",\n\"body\": [\n{\n\"type\": \"TextBlock\",\n\"text\": \"Title: @{items('Apply_to_each_2')?['CheckInTitle']}\",\n\"weight\": \"Bolder\",\n\"size\": \"Large\",\n\"wrap\":\"true\"\n},\n{\n\"type\": \"TextBlock\",\n\"text\": \" Note: @{items('Apply_to_each_2')?['ManagerNote']}\",\n\"weight\": \"Default\",\n\"size\": \"Medium\",\n\"wrap\":\"true\"\n},\n{\n\"type\": \"FactSet\",\n\"facts\": [\n{\n\"title\": \"Team name:\",\n\"value\": \"@{items('Apply_to_each_2')?['CheckinTeamName']}\"\n},\n{\n\"title\": \"Check-in type:\",\n\"value\": \"@{items('Apply_to_each_2')?['CheckInType']?['Value']}\"\n},\n{\n\"title\": \"Frequency:\",\n\"value\": \"@{variables('Occurrence')}\"\n}\n]\n},\n\n{\n\"type\": \"TextBlock\",\n\"text\": \"Please click on Check-in button to open the app and provide your check-in details.\",\n\"weight\": \"Default\",\n\"size\": \"Medium\",\n\"wrap\":\"true\"\n}\n],\n\"actions\": [\n{\n\"type\": \"Action.OpenUrl\",\n\"title\": \"Check-in\",\n\"url\": \"https://apps.powerapps.com/play/c1d31bb3-bc13-4377-9583-86d38483b391?tenantId=b3cdf1c8-024a-49e2-a994-f67f830b02f3&DeepLink=Camera&TeamName=@{items('Apply_to_each_2')?['CheckinTeamName']}&CheckinTitle=@{items('Apply_to_each_2')?['CheckInTitle']}\"\n}\n]\n}"},"path":"/flowbot/actions/adaptivecard/recipienttypes/channel","queries":{"groupId":"@items('Apply_to_each_2')?['TeamId']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each_2')?['CheckinTime']","@body('Convert_time_zone_2')"]},"type":"If"}},"runAfter":{"Get_items":["Succeeded"]},"type":"Foreach"},"Convert_time_zone_3":{"runAfter":{"Current_time":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"dd-MMM-yyy, hh:mm tt","sourceTimeZone":"UTC","destinationTimeZone":"Pacific Standard Time"}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"3650f1090dc94f108d90d07e1491bb58","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-5c6a738e-9abb-4cdd-95ff-135fcb41b207","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}