Deployment/Power App/StaffCheck-insAdmins/Microsoft.Flow/flows/b22fae69-e4d0-45c0-a961-4708a12b1b7d/definition.json
{"name":"a913f82f-5b21-4f7b-933c-d42b2ec0253b","id":"/providers/Microsoft.Flow/flows/a913f82f-5b21-4f7b-933c-d42b2ec0253b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"GetMyCheckInSchedules","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"e5d51810-90a7-4d30-bc9e-cdd66bced4f1","type":"User","tenantId":"efb8be03-af30-4722-8b7b-e9edaa03cf98"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-06-26T22:07:44.8709338Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializevariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["Initializevariable_Value"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"ManagerEmail","type":"string","value":"@{triggerBody()['Initializevariable_Value']}"}]}},"Get_items":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x699623.sharepoint.com/sites/SaffCheckinsFLW'))}/tables/@{encodeURIComponent(encodeURIComponent('Check-inSchedule'))}/items","queries":{"$filter":"ManagerEmail eq '@{variables('ManagerEmail')}'","$orderby":"Modified desc"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Select":{"runAfter":{"Get_items":["Succeeded"]},"type":"Select","inputs":{"from":"@body('Get_items')?['value']","select":{"ID":"@item()?['ID']","Title":"@item()?['Title']","ManagerEmail":"@item()?['ManagerEmail']","CheckInType":"@item()?['CheckInType']","CheckInTitle":"@item()?['CheckInTitle']","CheckinTeamName":"@item()?['CheckinTeamName']","UniqueIdentifier":"@item()?['UniqueIdentifier']","CheckinFrequency":"@item()?['CheckinFrequency']","CheckinFrequencyValue":"@item()?['CheckinFrequency']?['Value']","CheckinDays":"@item()?['CheckinDays']","CheckinTime":"@item()?['CheckinTime']","ManagerNote":"@item()?['ManagerNote']","TeamId":"@item()?['TeamId']","ChannelId":"@item()?['ChannelId']","Created":"@item()?['Created']","CheckInTypeValue":"@item()?['CheckInType']?['Value']","CheckinDaysConcat":"@item()?['CheckinDaysConcat']"}}},"Parse_JSON":{"runAfter":{"Select":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Select')","schema":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"integer"},"Title":{"type":"string"},"ManagerEmail":{"type":"string"},"CheckInType":{"type":"object","properties":{"@@odata.type":{"type":"string"},"Id":{"type":"integer"},"Value":{"type":"string"}}},"CheckInTitle":{"type":"string"},"CheckinTeamName":{"type":"string"},"UniqueIdentifier":{"type":"string"},"CheckinFrequency":{"type":["object","null"],"properties":{"@@odata.type":{"type":"string"},"Id":{"type":"integer"},"Value":{"type":"string"}}},"CheckinFrequencyValue":{"type":["string","null"]},"CheckinDays":{"type":"array"},"CheckinTime":{"type":"string"},"ManagerNote":{"type":["string","null"]},"TeamId":{"type":"string"},"ChannelId":{"type":"string"},"Created":{"type":"string"}},"CheckinDaysConcat":{"type":["string","null"]},"required":["ID","Title","ManagerEmail","CheckInType","CheckInTitle","CheckinTeamName","UniqueIdentifier","CheckinFrequency","CheckinFrequencyValue","CheckinDays","CheckinTime","ManagerNote","TeamId","ChannelId","Created"],"CheckInTypeValue":{"type":["string","null"]}}}}},"Join":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Join","inputs":{"from":"@body('Parse_JSON')","joinWith":"\"/n\""}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Join":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"managercheckedinschedules":"@body('Join')"},"schema":{"type":"object","properties":{"managercheckedinschedules":{"title":"ManagerCheckedinSchedules","x-ms-dynamically-added":true,"type":"string"}}}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"3650f1090dc94f108d90d07e1491bb58","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}